includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    autoload_files:
        - app/helpers.php

    level: 7

    checkMissingIterableValueType: false
